/*
## Colors

### Primary

- Dark Blue: hsl(233, 26%, 24%)
- Lime Green: hsl(136, 65%, 51%)
- Bright Cyan: hsl(192, 70%, 51%)

### Neutral

- Grayish Blue: hsl(233, 8%, 62%)
- Light Grayish Blue: hsl(220, 16%, 96%)
- Very Light Gray: hsl(0, 0%, 98%)
- White: hsl(0, 0%, 100%)
*/
:root {
  --color-primary-1: hsl(233, 26%, 24%);
  --color-primary-2: hsl(136, 65%, 51%);
  --color-primary-3: hsl(192, 70%, 51%);
  --color-neutral-1: hsl(233, 8%, 62%);
  --color-neutral-2: hsl(220, 16%, 96%);
  --color-neutral-3: hsl(0, 0%, 98%);
  --color-neutral-4: hsl(0, 0%, 100%); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 40.625%; }
  @media only screen and (min-width: 18.75em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 75em) {
    html {
      font-size: 62.5%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--color-neutral-4);
  overflow-x: hidden; }

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5; }

.navigation {
  font-size: 2.8rem;
  font-weight: 300; }
  @media only screen and (min-width: 37.5em) {
    .navigation__link {
      font-size: 1rem; } }
  @media only screen and (min-width: 56.25em) {
    .navigation__link {
      font-size: 1.5rem; } }

.header__text {
  font-weight: 300; }

.header__main {
  font-size: 4rem;
  font-weight: inherit;
  line-height: 1.2; }
  @media only screen and (min-width: 56.25em) {
    .header__main {
      font-size: 5.5rem; } }

.header__sub {
  font-size: inherit;
  font-weight: 500; }

.feature__header__heading {
  font-size: 4rem;
  font-weight: 400; }

.feature__header__para {
  font-size: inherit; }

.feature__card__heading {
  font-size: 2rem;
  font-weight: 400; }

.feature__card__text {
  font-size: 1.49rem;
  font-weight: 400; }

.article__header__heading {
  font-size: 3.75rem;
  font-weight: 500; }

.article__card__author {
  font-size: 1rem;
  font-weight: 400; }

.article__card__heading {
  font-size: 1.55rem;
  font-weight: 400; }

.article__card__desc {
  font-size: 1.45rem;
  font-weight: 400; }
  @media only screen and (min-width: 56.25em) {
    .article__card__desc {
      font-size: 1.25rem; } }

.footer__link {
  font-size: 1.3rem;
  font-weight: 300; }
  @media only screen and (min-width: 56.25em) {
    .footer__link {
      font-size: 1.6rem; } }

.footer__trademark {
  font-size: 1.3rem;
  font-weight: 400; }
  @media only screen and (min-width: 56.25em) {
    .footer__trademark {
      font-size: inherit; } }

.attribution {
  font-size: 1.25rem; }

.btn, .btn:link, .btn:visited {
  height: 4.4rem;
  width: 16.5rem;
  border-radius: 10rem;
  text-align: center;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: inherit;
  text-decoration: none;
  background-image: linear-gradient(to right, var(--color-primary-2), var(--color-primary-3));
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s;
  outline: none;
  border: none; }

.btn:hover {
  transform: translateY(-3px);
  outline: none;
  border: none; }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px); }

.header {
  display: flex;
  flex-direction: column;
  background-color: var(--color-neutral-3);
  width: 100%; }
  @media only screen and (min-width: 37.5em) {
    .header {
      flex-direction: row; } }
  .header__container-Hero {
    height: 300px;
    background: bottom center url("../images/bg-intro-mobile.svg") no-repeat;
    position: relative; }
    @media only screen and (min-width: 18.75em) {
      .header__container-Hero {
        height: 375px;
        background-size: cover; } }
    @media only screen and (min-width: 23.5em) {
      .header__container-Hero {
        height: 500px; } }
    @media only screen and (min-width: 37.5em) {
      .header__container-Hero {
        flex: 0 0 55%;
        height: initial;
        order: 1;
        display: flex;
        justify-content: center;
        background: left 7% bottom 50% no-repeat url("../images/bg-intro-desktop.svg"); } }
    @media only screen and (min-width: 56.25em) {
      .header__container-Hero {
        background: left 5% bottom 40% no-repeat url("../images/bg-intro-desktop.svg"); } }
    @media only screen and (min-width: 75em) {
      .header__container-Hero {
        background: left 6% bottom 31% no-repeat url("../images/bg-intro-desktop.svg"); } }
  .header__container-Text {
    display: flex;
    justify-content: center; }
    @media only screen and (min-width: 37.5em) {
      .header__container-Text {
        flex: 0 0 45%; } }
  .header__text {
    padding: 3rem;
    max-width: 45rem;
    color: var(--color-neutral-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .header__text > * {
      margin-bottom: 2rem; }
    @media only screen and (min-width: 37.5em) {
      .header__text {
        padding: 8rem 0 5rem 3rem;
        text-align: left;
        align-items: flex-start; } }
    @media only screen and (min-width: 45em) {
      .header__text {
        padding: 13rem 0 7rem 3rem; } }
    @media only screen and (min-width: 56.25em) {
      .header__text {
        padding: 17rem 0; } }
    @media only screen and (min-width: 75em) {
      .header__text {
        margin-left: 10rem; } }
  .header__main {
    color: var(--color-primary-1); }
  .header__sub {
    color: var(--color-neutral-1); }

.nav__container {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2000;
  background-color: var(--color-neutral-4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1; }
  @media only screen and (min-width: 37.5em) {
    .nav__container {
      position: relative; } }

.nav {
  position: relative;
  z-index: 9;
  background-color: var(--color-neutral-4);
  width: 90%;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav > :last-child {
    display: none; }
  @media only screen and (min-width: 37.5em) {
    .nav > :last-child {
      display: inline-flex; } }
  @media only screen and (min-width: 56.25em) {
    .nav {
      width: 80%; } }

.navigation {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-self: stretch; }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    position: relative;
    z-index: 2000;
    cursor: pointer; }
    @media only screen and (min-width: 37.5em) {
      .navigation__button {
        display: none; } }
  .navigation__nav {
    background-image: linear-gradient(var(--color-neutral-3), var(--color-neutral-4));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 2rem 0;
    border-radius: 1rem;
    position: fixed;
    top: 30rem;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1500;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    @media only screen and (min-width: 37.5em) {
      .navigation__nav {
        width: 100%;
        align-items: stretch;
        display: flex;
        flex-direction: row;
        position: relative;
        padding: 0;
        opacity: 1;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        background-color: transparent;
        box-shadow: none; } }
  .navigation__link:link, .navigation__link:visited {
    color: var(--color-neutral-1);
    text-decoration: none;
    transition: all 0.4s;
    border-bottom: 0.5rem solid transparent;
    padding: 1rem 0; }
    @media only screen and (min-width: 37.5em) {
      .navigation__link:link, .navigation__link:visited {
        align-self: stretch;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1.5rem;
        cursor: pointer;
        color: var(--color-neutral-1); } }
  .navigation__link:hover, .navigation__link:active {
    color: var(--color-primary-1);
    border-image: linear-gradient(to right, var(--color-primary-2), var(--color-primary-3)) 1; }
  .navigation__checkbox:checked ~ .navigation__background {
    position: fixed;
    top: 7rem;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.6; }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1; }
  .navigation__checkbox:checked ~ .navigation__background {
    opacity: 0.5; }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: var(--color-neutral-1);
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .navigation__icon::before {
      top: -0.8rem; }
    .navigation__icon::after {
      top: 0.8rem; }
    @media only screen and (min-width: 37.5em) {
      .navigation__icon {
        display: none; } }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.nav__btn {
  display: flex;
  justify-content: center;
  align-items: center; }

.footer {
  width: 100%;
  background-color: var(--color-primary-1);
  color: var(--color-neutral-4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4.5rem 0 1rem; }
  .footer__container {
    width: 90%;
    margin: 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .footer__container > * {
      margin-bottom: 2rem; }
    @media only screen and (min-width: 37.5em) {
      .footer__container {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch; } }
    @media only screen and (min-width: 56.25em) {
      .footer__container {
        width: 80%; } }
  .footer__social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .footer__social > * {
      margin-bottom: 3rem; }
    @media only screen and (min-width: 37.5em) {
      .footer__social {
        align-items: flex-start; }
        .footer__social > * {
          margin-bottom: 1rem; } }
    .footer__social__icons {
      display: flex; }
      .footer__social__icons > :not(:last-child) {
        margin-right: 2rem; }
      @media only screen and (min-width: 37.5em) {
        .footer__social__icons > :not(:last-child) {
          margin-right: 1.5rem; } }
  .footer__logo {
    filter: hue-rotate(180deg) invert(1) brightness(5); }
  .footer__menu {
    display: flex;
    flex-direction: column; }
    @media only screen and (min-width: 37.5em) {
      .footer__menu {
        flex-direction: row; } }
  .footer__menu-1, .footer__menu-2 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media only screen and (min-width: 37.5em) {
      .footer__menu-1, .footer__menu-2 {
        margin-right: 3rem;
        justify-content: space-between;
        align-items: flex-start; } }
    @media only screen and (min-width: 56.25em) {
      .footer__menu-1, .footer__menu-2 {
        margin-right: 7rem; } }
    @media only screen and (min-width: 75em) {
      .footer__menu-1, .footer__menu-2 {
        margin-right: 12rem; } }
    .footer__menu-1 > *, .footer__menu-2 > * {
      margin-bottom: 1.5rem; }
  .footer__link {
    color: var(--color-neutral-4);
    text-decoration: none; }
  .footer__invite {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .footer__invite > * {
      margin-bottom: 2rem; }
    @media only screen and (min-width: 37.5em) {
      .footer__invite {
        align-items: flex-end;
        justify-content: space-between; } }
  .footer__trademark {
    color: var(--color-neutral-1); }

.attribution {
  text-align: center;
  margin: 0 3rem; }
  .attribution a {
    color: var(--color-neutral-1); }

.mockup {
  width: 100%;
  position: absolute;
  top: 19rem;
  right: 0;
  z-index: 100;
  transform: translate(0%, -50%); }
  @media only screen and (min-width: 23.5em) {
    .mockup {
      top: 23rem; } }
  @media only screen and (min-width: 37.5em) {
    .mockup {
      width: 59%;
      top: 33rem;
      right: 14.5%;
      transform: translate(50%, -50%); } }
  @media only screen and (min-width: 56.25em) {
    .mockup {
      top: 41rem; } }
  @media only screen and (min-width: 75em) {
    .mockup {
      top: 41.5rem; } }
  .mockup__img {
    width: 100%; }
    @media only screen and (min-width: 37.5em) {
      .mockup__img {
        width: 90%; } }

.feature {
  background-color: var(--color-neutral-2);
  padding: 7rem 3rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 37.5em) {
    .feature {
      padding: 10rem 0 7rem; } }
  .feature__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .feature__container > :not(:last-child) {
      margin-bottom: 7rem; }
  .feature__header {
    max-width: 65rem;
    text-align: center;
    align-self: center; }
    .feature__header > :not(:last-child) {
      margin-bottom: 2rem; }
    @media only screen and (min-width: 56.25em) {
      .feature__header {
        text-align: left;
        align-self: flex-start; } }
    .feature__header__heading {
      color: var(--color-primary-1); }
    .feature__header__para {
      color: var(--color-neutral-1); }
  .feature__card-container {
    justify-self: center;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center; }
    .feature__card-container > * {
      padding-bottom: 3.5rem; }
    @media only screen and (min-width: 37.5em) {
      .feature__card-container > * {
        padding-right: 2rem; } }
    @media only screen and (min-width: 75em) {
      .feature__card-container > * {
        padding-right: 3.96rem; } }
  .feature__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 34rem; }
    .feature__card > :not(:last-child) {
      margin-bottom: 2.5rem; }
    @media only screen and (min-width: 37.5em) {
      .feature__card > :not(:last-child) {
        margin-bottom: 3rem; } }
    @media only screen and (min-width: 56.25em) {
      .feature__card {
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        max-width: 26rem; } }
    @media only screen and (min-width: 75em) {
      .feature__card {
        max-width: 28.5rem; } }
    .feature__card__heading {
      color: var(--color-primary-1); }
    .feature__card__text {
      color: var(--color-neutral-1); }

.article {
  padding: 7.5rem 3rem;
  background-color: var(--color-neutral-3);
  display: flex;
  flex-direction: column;
  align-items: center; }
  .article__container {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .article__container > :not(:last-child) {
      margin-bottom: 6rem; }
  .article__header__heading {
    text-align: center;
    color: var(--color-primary-1); }
    @media only screen and (min-width: 56.25em) {
      .article__header__heading {
        text-align: left; } }
  .article__card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .article__card-container > * {
      margin-bottom: 2rem; }
    @media only screen and (min-width: 37.5em) {
      .article__card-container > :not(:last-child) {
        margin-right: 2rem; } }
    @media only screen and (min-width: 56.25em) {
      .article__card-container > :not(:last-child) {
        margin-right: 1rem; } }
    @media only screen and (min-width: 75em) {
      .article__card-container > :not(:last-child) {
        margin-right: 3rem; } }
  .article__card {
    background-color: var(--color-neutral-4);
    max-width: 36rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden; }
    @media only screen and (min-width: 37.5em) {
      .article__card {
        max-width: 30rem; } }
    @media only screen and (min-width: 56.25em) {
      .article__card {
        max-width: 25.6rem; } }
    .article__card__img-container {
      width: 100%;
      height: 50%;
      flex: 0 0 50%; }
    .article__card__img {
      width: 100%;
      height: 100%; }
    .article__card__text-container {
      color: var(--color-neutral-1);
      padding: 2.5rem; }
      .article__card__text-container > * {
        margin-bottom: 1rem; }
    .article__card__heading {
      color: var(--color-primary-1); }
