////////////////////////
////FOOTER - SECTION
.footer {
  width: 100%;
  background-color: var(--color-primary-1);
  color: var(--color-neutral-4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4.5rem 0 1rem;
  &__container {
    width: 90%;
    // flex: 0 0 90%;
    margin: 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    & > * {
      margin-bottom: 2rem;
    }
    @include respond(tab-port) {
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
    }
    @include respond(tab-land) {
      width: 80%;
      // flex: 0 0 80%;
    }
  }

  &__social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    & > * {
      margin-bottom: 3rem;
    }
    @include respond(tab-port) {
      align-items: flex-start;
      & > * {
        margin-bottom: 1rem;
      }
    }
    &__icons {
      display: flex;
      & > :not(:last-child) {
        margin-right: 2rem;
      }

      @include respond(tab-port) {
        & > :not(:last-child) {
          margin-right: 1.5rem;
        }
      }
    }
  }

  &__logo {
    filter: hue-rotate(180deg) invert(1) brightness(5);
  }
  &__menu {
    display: flex;
    flex-direction: column;
    @include respond(tab-port) {
      flex-direction: row;
    }
  }
  &__menu-1,
  &__menu-2 {
    @include respond(tab-port) {
      margin-right: 3rem;
      justify-content: space-between;
      align-items: flex-start;
    }
    display: flex;
    flex-direction: column;

    align-items: center;

    @include respond(tab-land) {
      margin-right: 7rem;
    }
    @include respond(small-desktop) {
      margin-right: 12rem;
    }
    & > * {
      margin-bottom: 1.5rem;
    }
  }
  &__link {
    color: var(--color-neutral-4);
    text-decoration: none;
  }

  &__invite {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > * {
      margin-bottom: 2rem;
    }
    @include respond(tab-port) {
      align-items: flex-end;
      justify-content: space-between;
    }
  }

  &__trademark {
    color: var(--color-neutral-1);
  }
}

//Attribution
.attribution {
  text-align: center;
  margin: 0 3rem;
  a {
    color: var(--color-neutral-1);
  }
}
